<style>
  .index {
    text-align:center;
  }
  img {
    width: 35%;
  }
  a:hover{
    background-color: transparent;
  }
</style>




<% if user_signed_in? %>
<div class = "index">
  <%= link_to image_tag("/memo.png"), "/posts" , class: "image_button"%>

  
  <p><%=link_to current_user.email, "/mypage", method: get%>님 환영합니다!</p>
    <p><%= link_to "로그아웃", destroy_user_session_path, method: :delete, :class => "btn btn-secondary", data: { confirm: "로그아웃 하시겠습니까?" } %></p>
  
</div>
    
  <% else %>
  <div class = "index">
  <%= link_to image_tag("/memo.png"), new_user_session_path , class: "image_button"%>

  
    <p><%= link_to "로그인", new_user_session_path, :class => "btn btn-secondary" %></p>
  
</div>
  <% end %>