<%= form_with(model: post, local: true) do |form| %>
 
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control", style: "width:20%" %>
  </div>

  <div class="form-group">
    <%= form.label :text %>
    <%= form.text_area :text, class: "form-control", style: "width:20%"  %>
  </div>

  <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Submit</button>
<% end %>
