<style>
  a.user_email {

    color: #00f;
  }
  a.user_email:hover {

    color: #fc0;
    text-decoration: none;
    background-color: white;
  }
  
  a.image_button:hover{
    background-color: transparent;
  }
  
  a.image_button {
    float:left;
    height: 45px;
  }
  
  img:hover {
    background-color: #ffc;
    border-radius: 10px;
    padding: 5px;
  }
  img {
    border: 1px gray solid;
    border-radius: 10px;
    padding: 5px;
    float: left;
    height: 50px;
    margin-left: 10px;
  }
  p.card-text {
    font-size: 20px;
    height: auto;
  }
  
  div.card {
    width: 25%;
    margin-top: 5%;
    box-sizing: border-box;
  }
  div.container {
    width: 70%;
    height: 100%;
    float:left;
    display: inline-block;
    padding-left: 3%;
    
  }
  div.card-header {
    border-top: 1px solid rgba(0,0,0,.125);
    border-left: 1px solid rgba(0,0,0,.125);
    border-right: 1px solid rgba(0,0,0,.125);
    border-bottom: 0px;
    border-radius: .25rem;
  }
  div.card-body {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }
  
</style>

<div class ="container">
  <p id="notice"><%= notice %></p>
  
  <h1 style= "float: left">INDEX</h1><%= link_to image_tag("computer.png"), new_post_path, class: "image_button"%>
  <% if user_signed_in? %>
    <div style = "float: right; font-size: 1rem;"><a href='/posts' class="user_email"><%=current_user.email%></a> 님 환영합니다&nbsp&nbsp&nbsp<%= link_to "로그아웃", destroy_user_session_path, method: :delete, :class => "btn btn-secondary logout", data: { confirm: "로그아웃 하시겠습니까?" } %></div>
  <% else %>
    <%= link_to "로그인", new_user_session_path, :class => "btn btn-secondary" , style: "float: right"%>
  <% end %>


  <table class="table table-sm shadow p-3 mb-5 bg-white rounded" style="text-align: center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">제목</th>
      </tr>
    </thead>
    <tbody><% @mypage.each do |post| %>
          
        
      <tr>
        <th scope="row"><%= post.id%></th>
          
        <td><%= link_to post.title, post, :class => "btn", style: "color: #333333" %></td>
        
      </tr>
      <% end %>
    </tbody>
  </table>
 



  
  
  <% #= link_to 'New Post', new_post_path, :class => "btn" %>
  <%#= link_to image_tag("computer.png"), new_post_path, class: "image_button"%>

</div>

